button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: whitesmoke;
    background-color: rgb(107, 105, 105);
    border-radius: 12px;
    border: none;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color:  rgb(83, 83, 83);
}

button:active {
    background-color: rgb(83, 83, 83);
    box-shadow: 0 5px #667;
    transform: translateY(4px);
}

.card {
    width: 250px;
    float: right;
}

body{
    background-color: whitesmoke;
}

.giphyImg {
    float: left;
}